# macOS system files
.DS_Store

# Python
__pycache__/

# Virtual environments
.venv/

# Linting and formatting
.ruff_cache/

# IDE
.vscode/

# Environment variables
.env
config.env

#company_data
company_data/

# uv
uv.lock

# software development best practices
SOFTWARE_DEVELOPMENT_BEST_PRACTICES.md

#htmlcov
htmlcov/

#pytest cache
.pytest_cache/

#coverage
.coverage

#cursor rules
.cursorrules
